<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeCraft Student</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeCraft.Web.StudentPortal.styles.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container">
        <!-- Left Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <h2>CODECRAFT</h2>
            </div>

            <ul class="nav">
                <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="Courses" asp-action="Index">My Courses</a></li>
                <li><a asp-controller="Assignments" asp-action="Index">Assignments</a></li>
                <li><a asp-controller="Libraries" asp-action="Index">Libraries</a></li>
                <li><a asp-controller="ProfileManagement" asp-action="Index">Profile Management</a></li>
            </ul>
        </div>

        <div role="main">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
