<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - CodeCraft Admin</title>

    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="~/lib/global/global.min.js"></script>
    <script src="~/lib/svganimation/vivus.min.js"></script>
    <script src="~/lib/svganimation/svg.animation.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script src="~/js/plugins-init/datatables.init.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/dlabnav-init.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
