@{
    Layout = "_ErrorLayout.cshtml";
    ViewData["Title"] = "Error 400";
}

<h1 class="error-text font-weight-bold">400</h1>
<h4><i class="fa fa-thumbs-down text-danger"></i> Bad Request</h4>
<p>Your Request resulted in an error</p>