@{
    Layout = "_ErrorLayout.cshtml";
    ViewData["Title"] = "Error 401";
}

<h1 class="error-text font-weight-bold">401</h1>
<h4>
    <i class="fa fa-times-circle text-danger"></i>
    Unauthenticated!
</h4>
<p>You need to be logged in to perform the requested action.</p>