@{
    Layout = "_ErrorLayout.cshtml";
    ViewData["Title"] = "Error 403";
}

<h1 class="error-text font-weight-bold">403</h1>
<h4>
    <i class="fa fa-times-circle text-danger"></i> Forbidden Error!
</h4>
<p>You do not have permission to view this resource.</p>