@{
    Layout = "_ErrorLayout.cshtml";
    ViewData["Title"] = "Error 403";
}

<h1 class="error-text font-weight-bold">403</h1>
<h4>
    <i class="fa fa-times-circle text-danger"></i>
    Unauthorized!
</h4>
<p>You are not authorized to perform the requested action.</p>