@{
    Layout = "_ErrorLayout.cshtml";
    ViewData["Title"] = "Error 404";
}

<h1 class="error-text font-weight-bold">404</h1>
<h4>
    <i class="fa fa-exclamation-triangle text-warning"></i>
    Resource Not Found!
</h4>
<p>
    The requested resource was not found or does not exist.
</p>