@{
    Layout = "_ErrorLayout.cshtml";
    ViewData["Title"] = "Error 500";
}

<h1 class="error-text font-weight-bold">500</h1>
<h4>
    <i class="fa fa-times-circle text-danger"></i>
    Internal Server Error!
</h4>
<p>Something went wrong on our end.</p>