@{
    Layout = "_ErrorLayout.cshtml";
    ViewData["Title"] = "Error 503";
}

<h1 class="error-text font-weight-bold">503</h1>
<h4>
    <i class="fa fa-times-circle text-danger"></i>
    Service Unavailable
</h4>
<p>Sorry, we are under maintenance!</p>