<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">

    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="https://kit.fontawesome.com/a81368914c.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>