@model Student

@{
    ViewData["Title"] = "Dashboard";
}

<section class="main p-5">
    <div class="row pt-2">
        <div id="assignments" class="card mt-4 p-4">
            <div class="heading">
                <h5>Upcoming Assignments</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Assignment</th>
                            <th>Course Name</th>
                            <th>Due Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="assignment-list">
                        <tr>
                            <td>1</td>
                            <td>Project Proposal</td>
                            <td>Web Development Basics</td>
                            <td>2024-12-05</td>
                            <td><button class="btn btn-success btn-sm" onclick="markAsComplete(this)">Mark as Complete</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Midterm Report</td>
                            <td>Advanced Java</td>
                            <td>2024-12-12</td>
                            <td><button class="btn btn-success btn-sm" onclick="markAsComplete(this)">Mark as Complete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="courses" class="card mt-4 px-4 pt-4">
            <div class="heading">
                <h5>Your Courses</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody id="course-list">
                        @foreach (Course course in Model.Courses) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => course.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => course.Code)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="~/js/dashboard.js" append-version="true"></script>
}