body {
  font-family: "Karla", sans-serif;
}

.sidebar .logo {
  text-align: center;
  padding-bottom: 20px;
}

.logo-img img {
  width: 80px;
  height: auto;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.courses-section h2 {
  margin-bottom: 20px;
}

.assignments ul {
  list-style: none;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f3ca16;
}

.profile-icon img {
  width: 100%;
  height: auto;
}

.logo-img img {
  width: 80px;
  height: auto;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
