body {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f6f1;
  color: #00012a;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  padding: 15px;
  position: relative; /* Required for positioning child elements */
}

.left-sidebar {
  width: 250px;
  background-color: #00012a;
  color: #f9f6f1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.right-sidebar {
  width: 250px;
  background-color: #f3ca16;
  color: #00012a;
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h2 {
  font-family: "Montserrat", sans-serif;
}

/* Position navigation at the bottom */
.nav {
  list-style-type: none;
  padding: 0;
  position: absolute;
  bottom: 20px; /* Adjust this value as needed */
  left: 0;
  width: 100%;
  text-align: center;
}

/* Styling and hover effects similar to library cards */
.nav li {
  margin: 20px 0;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #f9f6f1;
  font-size: 1.1rem;
  border-radius: 5px;
}

/* Hover effect similar to the library cards */
.nav li:hover,
.nav .active {
  background-color: #f58a07; /* Highlight color similar to hover */
  color: #fff;
  transform: translateY(-3px); /* Add a slight lift */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f58a07;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.calendar {
  width: 300px;
}

.materials {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.materials h2 {
  margin-top: 0;
}

.material-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.material-item:hover {
  background-color: #6bd425;
  color: #f9f6f1;
}

.material-item button {
  padding: 10px;
  background-color: #f58a07;
  color: #f9f6f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.material-item button:hover {
  background-color: #f3ca16;
}
