body {
  font-family: "Karla", sans-serif;
}

.header {
  position: relative;
}

.exam-board table {
  width: 100%;
  border-collapse: collapse;
}

.exam-board table,
th,
td {
  border: 1px solid #ddd;
}

.exam-board th {
  background-color: #f58a07;
  color: #fff;
}

.profile-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #f3ca16;
}

.sidebar .logo {
  text-align: center;
  padding-bottom: 20px;
}

.logo-img img {
  width: 80px;
  height: auto;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.sidebar .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.right-sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f9f6f1;
}
