body {
  margin: 0;
  padding: 0;
  background-color: #f9f6f1;
  color: #00012a;
}

.container {
  display: grid;
  grid-template-columns: 250px auto 300px;
  height: 100vh;
}

.sidebar {
  background-color: #00012a;
  color: #f9f6f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.sidebar .logo h2 {
  text-align: center;
  color: #f3ca16;
}

.sidebar ul.nav {
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.sidebar ul.nav li {
  margin: 15px 0;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #f9f6f1;
  font-size: 1.1rem;
  border-radius: 5px;
}

.sidebar ul.nav li:hover,
.sidebar ul.nav .active {
  background-color: #f58a07;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.main-content {
  padding: 20px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.courses {
  display: flex;
  gap: 20px;
}

.course-card {
  background-color: #f3ca16;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  transition: transform 0.3s;
}

.course-card:hover {
  transform: scale(1.05);
}

.right-sidebar {
  padding: 20px;
  background-color: #00012a;
  color: #f9f6f1;
}

.calendar {
  background-color: #6bd425;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.assignments ul {
  list-style-type: none;
  padding: 0;
}

.assignments li {
  background-color: #f58a07;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  color: white;
}

.assignments li:hover {
  background-color: #6bd425;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
