@model Student

@{
    ViewData["Title"] = "Create Student";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/pickadate/themes/default.css" />
    <link rel="stylesheet" href="~/lib/pickadate/themes/default.date.css" />
}

<partial name="_BreadCrumbPartial" model="@(new BreadCrumbViewModel
{
    Header = "Create Student",
    SectionName = "Students",
    ActiveName = "Create"
})" />

<div class="row">
    <div class="col-xl-12 col-xxl-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Basic Info</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="UserId" class="form-label">User Email</label>
                                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
                            </div>
                        </div>
                        <!-- First Name
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="FirstName" class="form-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        -->
                        <!-- Last Name
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="LastName" class="form-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        -->
                        <!-- Gender
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="Gender" class="form-label"></label>
                                <select asp-for="Gender" class="form-control">
                                    <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                        -->
                        <!-- Date of Birth
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="form-label"></label>
                                <input asp-for="DateOfBirth" class="datepicker form-control" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        -->
                        <!-- Physical Address
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label asp-for="PhysicalAddress" class="form-label"></label>
                                <textarea asp-for="PhysicalAddress" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        -->
                        <!-- Profile Image (TODO)
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group fallback w-100">
                                <input type="file"
                                       class="dropify"
                                       data-default-file="" />
                            </div>
                        </div>
                        -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/pickadate/picker.js"></script>
    <script src="~/lib/pickadate/picker.time.js"></script>
    <script src="~/lib/pickadate/picker.date.js"></script>

    <script src="~/js/plugins-init/pickadate-init.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
