@model Student

@{
    ViewData["Title"] = "Edit Student";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/pickadate/themes/default.css" />
    <link rel="stylesheet" href="~/lib/pickadate/themes/default.date.css" />
}

<partial name="_BreadCrumbPartial" model="@(new BreadCrumbViewModel
{
    Header = ViewBag.Titles,
    SectionName = "Students",
    ActiveName = "Edit"
})" />

<div class="row">
    <div class="col-xl-12 col-xxl-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    @ViewBag.Title
                </h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="UserId" class="form-label">
                                    User Account
                                </label>
                                <select asp-for="UserId" class="form-control">
                                    @foreach (SelectListItem item in ViewBag.Users) {
                                        <option value="@item.Value" selected=@(Model.User!.Email == item.Text)>
                                            @item.Text
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Profile Image
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group fallback w-100">
                                <input type="file"
                                       class="dropify"
                                       data-default-file="" />
                            </div>
                        </div>
                        -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/pickadate/picker.js"></script>
    <script src="~/lib/pickadate/picker.time.js"></script>
    <script src="~/lib/pickadate/picker.date.js"></script>

    <script src="~/js/plugins-init/pickadate-init.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
