@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="/css/408.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Background Wave Image -->
    <img class="wave" src="/images/wave2.png" alt="Wave Background">

    <div class="container">
        <!-- Left Side Image -->
        
        <img class="wave" src="/images/CodeCraft Logo.svg" alt="Wave Background">

        <!-- Login Content -->
        <div class="login-content">
            <form id="account" method="post">
                <!-- Avatar Image -->
                <img src="/images/avatar.svg" alt="User Avatar">

                <!-- Welcome Title -->
                <h2 class="title">Welcome</h2>

                <!-- Username Input -->
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input asp-for="Input.Email" class="input" type="text" autocomplete="username">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <!-- Password Input -->
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input asp-for="Input.Password" class="input" type="password" autocomplete="current-password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <!-- Forgot Password Link -->
                <a asp-page="./ForgotPassword">Forgot Password?</a>

                <!-- Submit Button -->
                <input type="submit" class="btn" value="Login">
            </form>
            
            
        </div>
    </div>

    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
