@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<h4 class="text-center mb-4">Forgot Password</h4>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">
            SUBMIT
        </button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
